:root {
  --bg-1: url('/public/assets/background.webp');
  --light: #f0f0f0;
  --dark:  #333;
  --primary: #007bff;
  --primary-dark: #004fa6;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #444;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container > .content {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}
