:root {
  --bg-1: url('/public/assets/background.webp');
  --white: #ffffff;
  --light: #f0f0f0;
  --light-1:  #d0d0d0;
  --dark:  #333;
  --dark-1: #444;
  --dark-2: #666;
  --primary: #007bff;
  --primary-dark: #004fa6;
  --primary-light: #3798ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--dark);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container > .content {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  flex-direction: column;
}

.separator-line {
  border: 0;
  height: 1px;
  background-color: var(--light-1);
  margin: 0;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.round-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.round-list li {
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--primary-dark);
  border-radius: 14px;
}
.round-list li:hover{
 transform: scale(103%);
  transition: transform 0.3s ease-in-out;
  cursor: default;
}

.round-list a:hover{
  text-decoration: none;
}

.button:hover{
  background-color: var(--primary-light);
  color: var(--white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer !important;
}

@media (max-width: 768px) {
  .round-list{
    justify-content: space-around;
  }
}

.loader {
  text-align: center;
}
