h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #444;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.container > .content {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}
